<!doctype html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="{{ url_for('static', filename='generateForm.js') }}"></script>
	 
</head>
<body>
	{% if page %}
	<div id='cssmenu'>
		<ul>
			{% if page == 'dashboard' %} <li class='active'> 
			{% else %}<li>
			{% endif %}<a href='./dashboard'>DASHBOARD</a></li>
			{% if page == 'public' %} <li class='active'> 
			{% else %}<li>
			{% endif %}<a href='./public'>PUBLIC GALLERY</a></li>
			{% if page == 'form' %} <li class='active'> 
			{% else %}<li>
			{% endif %}<a href='./form'>GENERATE</a></li>
			<li><a href='./logout'>LOGOUT</a></li>
			<li class="logo">Raytracer Service</li>
		</ul>
	</div>
	{% endif %}	
	<div class=page>
		<div class=pageHeader>
			<h1>{% block top%}{%endblock%}</h1>
		  <h4>{% block header %}{% endblock %}</h4>
		</div>
		{% block body %}{% endblock %}
	</div>
</body>
<footer class="footer">
  <p></p>
</footer>
</html>