{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<p style="color:rgb(197, 188, 188); text-align: center;">hello {{username}}</p>

{% if requests%}
<table class="dashboard_table">
    <tr>
        <td>Time Stamp</td>
        <td>Status</td>
        <td>Ownership</td>
        <td>Result</td>
    </tr>
    {% for req in requests %}
    <tr>
        <td>{{req['timestamp']}}</td>
        <td>{{req['stat']}}</td>
        <td>{{req['ownership']}}</td>
        {% if req['stat']|string() =="success" %}
        <td><a style="color:white;" href='/image/{{req['requestID']}}'>Click to see image</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
	<p class="error_message">No image in your dashboard yet. Please generate.</p>
{% endif %}
</br>
<button class="btn btn-primary btn-block btn-large" onclick="location.href='/form'">GENERATE</button> 
<button class="btn btn-primary btn-block btn-large" onclick="location.href='/public'">SEE PUBLIC IMAGES</button> 
<button type="button" class="btn btn-primary btn-block btn-large" onclick="location.href='/logout'">LOGOUT</button>
{{result}}
{% endblock %}