<html>
<head>
    <script src="form_lib.js"></script>
</head>
<body>
  <p>
    hello
  </p>
  <form id="form">
    
    <input type="button" onClick="add_sphere()" value="add sphere"/>
    <input type="number" id="sphere_count" value="0" hidden="true" />
    <br />
    <hr />
    <span id="sphere1">
      <label>Radius </label><input type="number" step="any" id="radius1" /><br/>
      <label>Center X </label><input type="number" step=any id="center_x1" /><br/>
      <label>Center Y </label><input type="number" step=any id="center_y1" /><br/>
      <label>Center Z </label><input type="number" step=any id="center_z1" /><br/>
      <label>Color </label>R<input type="number" step=any id="color_r1" />G<input type="number" step=any id="color_g1" />B<input type="number" step=any id="color_b1" /><br/>
    </span>
  </form>
</body>
</html>

<!-- https://jsfiddle.net/uLyuyr3b/1/-->