{% extends "base.html" %}
{% block title %}Image{% endblock %}
{% block body %}

<div style="text-align: center;"><img src="https://s3.us-east-2.amazonaws.com/rtweb-9468/{{image_id}}" /></div>
<table class="image_table" style="width:80%">
    {% for type in entities %}
    	<tr>
    	<td>type: {{type['type']}}</td>
    	{%for key,value in type.items() %}
    		{% if key != 'type' %}
	        	<td>{{key}}: {{value}}</td>
	        {% endif %}	
	    {% endfor %}
	    </tr>
    {% endfor %}
</table>

<br/>
<button type="button" style="margin-top:10px;" class="btn btn-primary btn-block btn-large" onclick="location.href='/public'">PUBLIC IMAGES</button>
<button type="button" style="margin-top:10px;" class="btn btn-primary btn-block btn-large" onclick="location.href='/dashboard'">DASHBOARD</button>
{% endblock %}