{% extends "base.html" %}
{% block title %}Image{% endblock %}
{% block body %}
<table class="image_table" style="width:80%;margin-left: 20%;">
 <tr>
        <td>Time Stamp</td>
        <td>Status</td>
        {% if session_user == result['username'] %}
        <td>Ownership</td>
        {% else %}
        <td>Owner</td>
        {% endif%}
    </tr>
  
    <tr>
        <td>{{result['timestamp'][:4]}}-{{result['timestamp'][4:6]}}-{{result['timestamp'][6:8]}} {{result['timestamp'][8:10]}}:{{result['timestamp'][10:12]}}:{{result['timestamp'][12:]}}</td>
        <td>{{result['stat']}}</td>
        {% if session_user == result['username'] %}
        <td><button style="font-size: 16px;"class="button" onclick="location.href='./updateOwnership/?image_id={{result['requestID']}}&page={{page}}'">{{result['ownership']}}</button></td>
        {% else %}
        <td>{{result['username']}}</td>
        {% endif%}
    </tr>


</table>
<div class="image" style="text-align: center; margin:20px auto 20px auto;"><img src="https://s3.us-east-2.amazonaws.com/rtweb-9468/{{image_id}}" /></div>
<table class="image_table" style="width:80%">
    {% for type in entities %}
    	<tr>
    	<td>type: {{type['type']}}</td>
    	{%for key,value in type.items() %}
    		{% if key != 'type' %}
	        	<td>{{key}}: {{value}}</td>
	        {% endif %}	
	    {% endfor %}
	    </tr>
    {% endfor %}
</table>


<br/>
{% if session_user == result['username'] %}
<a style="text-decoration: none;" href="https://s3.us-east-2.amazonaws.com/rtweb-9468/{{image_id}}" download><button type="button" style="display:inline !important;margin:10px auto 10px 20%; " class="btn btn-primary btn-block btn-large">DOWNLOAD</button></a>
<button type="button" style="display:inline !important;margin-top:10px; " class="btn btn-primary btn-block btn-large" onclick="location.href='./delete/?image_id={{result['requestID']}}&page={{page}}'">DELETE IMAGE</button>
{% else %}
<a style="text-decoration: none;" href="https://s3.us-east-2.amazonaws.com/rtweb-9468/{{image_id}}" download><button type="button" style="display:inline !important;margin:10px auto 10px 30%; " class="btn btn-primary btn-block btn-large">DOWNLOAD</button></a>
{% endif %}

{% if page == 'dashboard' %}
<button type="button" style="display:inline !important; margin-top:10px;" class="btn btn-primary btn-block btn-large" onclick="location.href='../dashboard'">BACK</button>
{% else %}
<button type="button" style="display:inline !important; margin-top:10px;" class="btn btn-primary btn-block btn-large" onclick="location.href='../public'">BACK</button>
{% endif %}
{% endblock %}