{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block top%}Raytracer Service{%endblock%}
{% block header %}Please login{% endblock %}
{% block body %}
	<p class="error_message">{{message}}</p>
	<div class="login">
	    <form method="post">
	    	<input type="text" name="username" placeholder="Username" required="required" />
	        <input type="password" name="password" placeholder="Password" required="required" />
	        <input type="submit" class="submit btn btn-primary btn-block btn-large" value="LET ME IN" />
	        <div class="message"><p>Haven't registered? <a class="message" href='./register'>Register</a></p></div>
	    </form>
	</div>
{% endblock %}
