{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header %} Please login{% endblock %}
{% block body %}
	<div class="login">
	    <form method="post">
	    	<input type="text" name="u" placeholder="Username" required="required" />
	        <input type="password" name="p" placeholder="Password" required="required" />
	        <button type="submit" class="submit btn btn-primary btn-block btn-large">Let me in.</button>
	        <div class="message"><p>Haven't registered? <a class="message" href='/register'>Register</a></p></div>
	    </form>
	</div>
{% endblock %}
