{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block top%}Raytracer Service{%endblock%}
{% block header %} Please register if you haven't got an account.{% endblock %}
{% block body %}
	<p class="error_message">{{message}}</p>
	<div class="register">
	    <form method="POST" onsubmit="return check_form()">
	    	<input type="text" id="username" name="username" placeholder="Username" required="required" />
	        <input type="password" id="password" name="password" placeholder="Password" required="required" />
	        <input type="password" id="password_confirm" name="password_confirm" placeholder="Re-enter Password" required="required" />
	        <p style="color: red;" id="password_warning"></p>
	        <input type="submit" class="submit btn btn-primary btn-block btn-large" value="GO REGISTER" />
	        <p class="message">Already registered? <a class="message" href='./login'">Sign In</a></p>
	    </form>
	</div>
{% endblock %}
