{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block header %} Please register if you haven't got an account.
{% block body %}
	<div class="register">
	    <form method="post">
	    	<input type="text" name="u" placeholder="Username" required="required" />
	        <input type="password" name="p" placeholder="Password" required="required" />
	        <input type="password" name="p" placeholder="Re-enter Password" required="required" />
	        <button type="submit" class="btn btn-primary btn-block btn-large">Go register.</button>
	    </form>
	</div>
{% endblock %}
